<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://www.payulatam.com/co/wp-content/uploads/sites/2/2017/02/payu@2x.png">
</div>

<app-chatbox></app-chatbox>