<div class="container">
  <hr>
  <div class="row">
    <div class="chatbox chatbox22" [ngClass] = "{'chatbox--tray': chatbot.isMinimized, 'chatbox--closed': chatbot.isClosed}">
      <div class="chatbox__title" (click)="toggle()">
          <h5><a href="#">Chatee con nosotros ...</a></h5>
          <!--<button class="chatbox__title__tray">
              <span></span>
          </button>-->
          <button class="chatbox__title__close" (click)="close()">
              <span>
                  <svg viewBox="0 0 12 12" width="12px" height="12px">
                      <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                      <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                  </svg>
              </span>
          </button>
      </div>
      <div class="chatbox__body">
      <!--Message for loop -->
        <div *ngFor="let message of chatbot.messageList">
          <div class="chatbox__body__message" [ngClass]="{'chatbox__body__message--right': message.owner == 'client', 'chatbox__body__message--left': message.owner == 'bot'}">
          
            <div class="chatbox_timing">
              <ul>
                <li><a href="#"><i class="fa fa-calendar"></i> {{message.day}}</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i> {{message.hour}}</a></li>
              </ul>
            </div>
            
            <div *ngIf="message.owner == 'bot'">
              <img src={{botImageUrl}} alt="Picture">
            </div>
            <div *ngIf="message.owner == 'client'">
              <img src={{clientImageUrl}} alt="Picture">
            </div>

            <div class="clearfix"></div>
            <div class="ul_section_full">
              <ul class="ul_msg">
                <li><strong *ngIf="message.owner == 'bot'">Señor bot</strong><strong *ngIf="message.owner == 'client'">Tú</strong></li>
                <li>{{message.text}} </li>
              </ul>
              <div class="clearfix"></div>
              <ul class="ul_msg2">
                <li><a href="#"><i class="fa fa-pencil"></i> </a></li>
                <li><a href="#"><i class="fa fa-trash chat-trash"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <button class="btn bt_bg btn-sm" *ngFor="let reply of chatbot.quickReplies" (click)="sendQuickReply(reply)">{{reply}}</button>
        </div>
        <div class="input-group">
          <input id="btn-input" type="text" [(ngModel)]="chatbot.text" class="form-control input-sm chat_set_height" placeholder="Type your message here..." tabindex="0" dir="ltr" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" contenteditable="true" />
          <span class="input-group-btn">
          <button class="btn bt_bg btn-sm" id="btn-chat" (click)="sendMessage()" >
            Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
  
  